.disable-media-pages {
  .disable-media-pages__progress-bar {
    width: 100%;
    height: 6px;
    background-color: #007cba;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%,
            transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
            rgba(255, 255, 255, 0.15) 75%,
            transparent 75%,
            transparent);
    -webkit-animation: disable-media-pages-progress-bar-stripes 1s linear infinite;
    animation: disable-media-pages-progress-bar-stripes 1s linear infinite;
    margin-bottom: 16px;
    background-size: 1rem 1rem;
  }
}

@-webkit-keyframes disable-media-pages-progress-bar-stripes {
  from {
    background-position: 20px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes disable-media-pages-progress-bar-stripes {
  from {
    background-position: 16px 0;
  }
  to {
    background-position: 0 0;
  }
}
